@font-face {
  font-family: "rubic-medium-500";
  src: url("../../assets/webfonts/Rubik-Medium.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "rubic-reguler-400";
  src: url("../../assets/webfonts/Rubik-Regular.ttf") format("truetype");
  font-style: normal;
}
.status-ovals {
  position: absolute;
  top: -0.5px;
  inset-inline-end: -3px;
}

body {
  font-family: sans-serif;
}
body .dashboard-ico, body .MsgIco {
  filter: brightness(0) saturate(100%) invert(62%) sepia(21%) saturate(420%) hue-rotate(170deg) brightness(84%) contrast(86%);
}
body .sidebar {
  position: fixed;
  top: 0;
  inset-inline-start: 0;
  width: 242px;
  height: 100vh;
  border-inline-end: 1px solid #E8ECEF;
  box-sizing: border-box;
  transition: width 0.3s ease, margin-inline-start 0.3s ease;
}
body .sidebar .logo {
  height: 64px;
}
body .sidebar.closed-sidenav {
  width: 83px;
}
body .sidebar.closed-sidenav .logo .opennedsidebar-logo {
  display: none;
}
body .sidebar.closed-sidenav .logo .closedsidebar-logo {
  display: block;
}
body .sidebar.closed-sidenav .nav-link .link-text {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
body .sidebar.opened-sidenav {
  width: 242px;
}
@media (max-width: 991.98px) {
  body .sidebar.opened-sidenav {
    width: 180px;
  }
}
body .sidebar.opened-sidenav .logo .opennedsidebar-logo {
  display: block;
}
body .sidebar.opened-sidenav .logo .closedsidebar-logo {
  display: none;
}
body .sidebar.opened-sidenav .nav-link .link-text {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
body .sidebar .nav .nav-item .nav-link {
  height: 64px;
  border-inline-start: 3px solid rgba(0, 0, 0, 0);
}
body .sidebar .nav .nav-item .nav-link img {
  margin-inline: 15px 17px;
}
body .sidebar .nav .nav-item .nav-link .link-text {
  font-size: 14px;
  font-family: "rubic-reguler-400";
  color: #778CA2;
  transition: width 0.3s ease, margin-inline-start 0.3s ease;
}
body .sidebar .nav .nav-item .nav-link:hover, body .sidebar .nav .nav-item .nav-link:active, body .sidebar .nav .nav-item .nav-link.clicked {
  background-color: #F8FAFB;
  border-inline-start-color: #4D7CFE;
}
body .sidebar .nav .nav-item .nav-link:hover img, body .sidebar .nav .nav-item .nav-link:active img, body .sidebar .nav .nav-item .nav-link.clicked img {
  filter: brightness(0) saturate(100%) invert(55%) sepia(49%) saturate(5554%) hue-rotate(208deg) brightness(97%) contrast(107%);
}
body .sidebar .nav .nav-item .nav-link:hover .link-text, body .sidebar .nav .nav-item .nav-link:active .link-text, body .sidebar .nav .nav-item .nav-link.clicked .link-text {
  font-family: "rubic-medium-500";
}
body .main-content {
  height: 100vh;
  transition: width 0.3s ease, margin-inline-start 0.3s ease;
}
body .main-content.collapsed-content {
  margin-inline-start: 83px;
}
body .main-content.expanded-content {
  margin-inline-start: 242px;
}
@media (max-width: 991.98px) {
  body .main-content.expanded-content {
    margin-inline-start: 180px;
  }
}
body .main-content .topbar {
  border-bottom: 1px solid #E8ECEF;
  height: 64px;
}
body .main-content .topbar .topbar-title {
  font-size: 20px;
  font-family: "rubic-reguler-400";
  color: #252631;
}
body .main-content .topbar button {
  background: none;
  border: none;
}
body .main-content .topbar .message-icon-wrapper {
  position: relative;
}
body .main-content .topbar .message-icon-wrapper .green-oval {
  width: 8px;
  height: 8px;
  border: 1px solid white;
  border-radius: 45%;
  background-color: #6DD230;
  position: absolute;
  top: -0.5px;
  inset-inline-end: -3px;
}
body .main-content .topbar .bell-icon-wrapper {
  position: relative;
}
body .main-content .topbar .bell-icon-wrapper .pink-oval {
  width: 8px;
  height: 8px;
  border: 1px solid white;
  border-radius: 45%;
  background-color: #FE4D97;
  position: absolute;
  top: -0.5px;
  inset-inline-end: -3px;
}
body .main-content .topbar .icon-btn:hover, body .main-content .topbar .icon-btn:active, body .main-content .topbar .icon-btn.clicked, body .main-content .topbar .icon-link:hover, body .main-content .topbar .icon-link:active, body .main-content .topbar .icon-link.clicked {
  filter: brightness(0) saturate(100%) invert(55%) sepia(49%) saturate(5554%) hue-rotate(208deg) brightness(97%) contrast(107%);
}
body .main-content .topbar .sidebar-toggler:hover {
  filter: brightness(0) saturate(100%) invert(55%) sepia(49%) saturate(5554%) hue-rotate(208deg) brightness(97%) contrast(107%);
}
body .main-content .topbar .user-image {
  border-radius: 50%;
}
@media (max-width: 991.98px) {
  body .main-content .topbar .add-icon, body .main-content .topbar .app-icon, body .main-content .topbar .search {
    display: none;
  }
}
body .main-content .content {
  flex: 1;
  background-color: #F8FAFB;
}
body .main-content .footer {
  height: 61px;
}
body .main-content .footer p {
  font-size: 14px;
  font-family: "rubic-reguler-400";
  color: #98A9BC;
}/*# sourceMappingURL=main.css.map */