@import "../sass/helpers/variables";
@import "../sass/helpers/fonts";
@import "../sass/helpers/mixins";
@import "../sass/helpers/extends";
body{
    font-family: sans-serif;
    .sidebar {
        position: fixed;
        top: 0;
        inset-inline-start: 0;
        width: 242px;
        height: 100vh;
        border-inline-end: 1px solid $border-color;
        .logo{
            height: 64px;
        }
        .nav{
            .nav-item{   
                .nav-link{
                    height: 64px;
                    display:flex;
                    align-items: center;
                    svg{
                        margin-inline-end: 17px;
                        margin-inline-start: 26px;
                    }
                    .link-text{
                        @include text($defult-font-size,$rubic-reguler-400,$primary-color)
                    }
                    .svg {
                        path {
                            transition: fill 0.2s ease;
                        }    
                    }
                    &:hover,&:active,&.clicked{
                        background-color: $bg-color;
                        svg{
                            path{
                                fill:$blue-color
                            }
                        }
                        .link-text{
                            font-family: $rubic-medium-500;
                        }
                        border-inline-start: 3px solid $blue-color;
                    }
                }
              
            }
            
        }
    }
    .main-content {
        margin-inline-start: 242px;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .header {
        border-bottom: 1px solid $border-color;
        height: 64px;
        .header-title{
            @include text($header-title-font-size,$rubic-reguler-400,$title-color)
        }
        button{
            background: none;
            border: none;
        }
        .message-icon-wrapper{
            position:relative;
            .green-oval{
                @extend .status-ovals;
            }
        }
        .bell-icon-wrapper{
            position: relative;
            .pink-oval{
                @extend .status-ovals;
            }
        }
        .icon-btn,.icon-link{
            .icon {
                path {
                    transition: fill 0.2s ease;
                }    
            }
            &:hover,&:active,&.clicked{
                .icon{
                    path{
                        fill: $blue-color;
                    }
                }     
            } 
        }
        .user-image{
            border-radius: 50%;
        }
    
    }
    .content {
        flex-grow: 1;
        overflow-y: auto;
        background-color: $bg-color;
    }
    
    .footer {
    height: 61px;
    & > *:not(p)  {
        opacity:$opacity-65 ;
    }  
    p{
        @include text($defult-font-size,$rubic-reguler-400,$footer-color);
    }
    }
}









    
   