@import "../sass/helpers/variables";
@import "../sass/helpers/fonts";
@import "../sass/helpers/mixins";
@import "../sass/helpers/extends";

body{
    font-family: sans-serif;
    .dashboard-ico,.MsgIco{
        filter: brightness(0) saturate(100%) invert(62%) sepia(21%) saturate(420%) hue-rotate(170deg) brightness(84%) contrast(86%);
    }
    .sidebar {
        position: fixed;
        top: 0;
        inset-inline-start: 0;
        width: 242px;
        height: 100vh;
        border-inline-end: 1px solid $border-color;
        box-sizing: border-box;
       @include transition-effect;
       .logo{
        height: 64px;
        }
       &.closed-sidenav {
        width: $closed-sidenav;
        .logo {
            .opennedsidebar-logo{
                display:none;
            }
            .closedsidebar-logo{
                display: block;
            }
        }

        .nav-link .link-text {
            @include fadeable(0,hidden);
        }
        }
        &.opened-sidenav {
            width: $opened-sidenav;
            @media (max-width:991.98px) {
                width: 180px;
            }
    
           .logo {
                .opennedsidebar-logo{
                    display:block;
                }
                .closedsidebar-logo{
                    display: none;
                }
            }
            .nav-link .link-text {
                @include fadeable(1,visible);
            }
        }     
        .nav{
            .nav-item{   
                .nav-link{
                    height: 64px;
                    border-inline-start: 3px solid rgba(0,0,0,0);
                    img{
                        margin-inline: 15px 17px;       
                    }
                    .link-text{
                        @include text($defult-font-size,$rubic-reguler-400,$primary-color);
                        @include transition-effect;
                    } 
                    &:hover,&.active{
                        background-color: $bg-color;
                       img{
                        @include blue-effect;
                       }
                        .link-text{
                            font-family: $rubic-medium-500;
                        }
                        border-inline-start-color: $blue-color;
                    }     
                } 
                
            }
        }
    }
    .main-content {
        height: 100vh;
       @include transition-effect;
       &.collapsed-content {
        margin-inline-start: $closed-sidenav;
        }
        &.expanded-content {
            margin-inline-start: $opened-sidenav;
            @media (max-width:991.98px) {
                margin-inline-start: 180px;;
            }
        }
        .topbar {
            border-bottom: 1px solid $border-color;
            height: 64px;
            .topbar-title{
                @include text($topbar-title-font-size,$rubic-reguler-400,$title-color);    
            }
            button{
                background: none;
                border: none;
            }
            .message-icon-wrapper{
                position:relative;
                .green-oval{
                   @include status-oval($active-status-color)
                }
            }
            .bell-icon-wrapper{
                position: relative;
                .pink-oval{
                   @include status-oval($bell-oval-color)
                }
            }
            .icon-btn,.icon-link{
                &:hover,&:active,&.clicked{
                    @include blue-effect;
                } 
            }
            .sidebar-toggler{
                &:hover{
                    @include blue-effect;
                } 
            }
            .user-image{
                border-radius: 50%;
            }
            @media (max-width:991.98px) {
                .add-icon,.app-icon,.search{
                    display: none;
                }
            }   
        }
        .content {
           flex: 1;            
            background-color: $bg-color;
        }
        .footer {
        height: 61px;
        p{
            @include text($defult-font-size,$rubic-reguler-400,$footer-color);
        }
        }
    }
}









    
   