@font-face {
    font-family: $rubic-medium-500;
    src: url('../../assets/webfonts/Rubik-Medium.ttf') format('truetype');     
    font-style: normal; 
}
@font-face {
    font-family: $rubic-reguler-400;
    src: url('../../assets/webfonts/Rubik-Regular.ttf') format('truetype');     
    font-style: normal; 
}