//fonts
$rubic-reguler-400:'rubic-reguler-400';
$rubic-medium-500:'rubic-medium-500';
$topbar-title-font-size:20px;
$defult-font-size:14px;
//colors
$primary-color:#778CA2;
$title-color:#252631;
$footer-color:#98A9BC;
$bg-color:#F8FAFB;
$blue-color:#4D7CFE;
$border-color:#E8ECEF;
$active-status-color:#6DD230;
$bell-oval-color:#FE4D97;
$opacity-65:65%;
///
$menu-width: 240px;                
$animation-duration: 0.3s;

